:root{
    --var-kkwet-color: #66ff66;
    --var-pistache-color: #0066ff;
    --var-pirouette-color: #9999ff;
    --var-sliders-height: 250px;
    --var-chart-height: 200px;
    --var-dayOdd-color: rgba(235, 235, 224,0.90);
    --var-dayEven-color: rgba(235, 235, 224,0.30);
}

header,#sliders, #chart,footer{
    
    padding: 0px;
    text-align: center;
}

body{
    background-color: rgba(204, 255, 153,0.6)
}

header, #sliders, #chart{
    margin: 10px 0px;
    font-family: 'Nerko One', cursive;
}

header{
    height: 10%;
    width: 100%;
    border: 1px black solid;
    border-radius: 3px;
    font-size: 25px;
    color: #99cc00;
    text-shadow: black -2px -2px 4px;
}

#sliders{
    height: var(--var-sliders-height);
    border: 1px gray solid;
    border-radius: 3px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.slider{
    width: 25%;
    border: 1px darkgreen solid;
    border-radius: 3px;
}

#chart{
    height: var(--var-chart-height);
    width: 100%;
    border-radius: 3px;
    border: 1px gray solid;
    background-color: rgba(204, 204, 255,0.15);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
 }

.day{
    height: 100%;
}

.odd{
    background-color: var(--var-dayOdd-color);
}

.even{
    background-color: var(--var-dayEven-color);
}

.kkwet, .pistache, .pirouette, .pirouette-highlight, .pistache-highlight, .weaning{
    text-align: center;
    padding-top: 5px;
    position: relative;
}

.kkwet{
    background-color: var(--var-kkwet-color);
}

.pirouette{
    background-color: var(--var-pirouette-color);
}


.pirouette-highlight{
    background-color: greenyellow;
    color: grey;
}

.pistache{
    background-color: var(--var-pistache-color);
}

.pistache-highlight{
    background-color: darkcyan;
    color: white
}

.weaning{
    background-color: red;
    color: white;
}


footer{
    margin-top: 10px;
    border: 1px black solid;
    border-radius: 3px;
    height: 10%; 
    width: 100%;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    header{
        height: 10%;
        font-size: 15px;
    }

    #sliders{
        height: calc(var(--var-sliders-height) * 4);
        flex-flow: column nowrap;
    }

    .slider {
        width:100%;
        height: 25%;
    }
}

@media only screen and (min-width: 600px) {
    header{
        height: 10%;
        font-size: 15px;
    }

    #sliders{
        height: calc(var(--var-sliders-height) * 2);
        flex-flow: row wrap;
    }

    .slider {
        /* flex: 0 0 50%; */
        width: 50%;
        height: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 768px) {
    header{
        height: 10%;
        font-size: 20px;
    }

    #sliders{
        height: calc(var(--var-sliders-height) * 2);
        flex-flow: row wrap;
    }

    .slider {
        /* flex: 0 0 50%; */
        width: 50%;
        height: 50%;
        box-sizing: border-box;
    }

}

@media only screen and (min-width: 992px){
    header{
        height: 10%;
        font-size: 20px;
    }

    #sliders{
        height: var(--var-sliders-height);
        flex-flow: row wrap;
    }

    .slider {
        /* flex: 0 0 50%; */
        height: 100%;
        width: 25%;
        box-sizing: border-box;
    }

}